<html>

<head>
    <title>
        <%= title  %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel='stylesheet' href="/css/user_profile.css">
    <link rel = 'stylesheet' href = "/css/home.css">
    <%- style %>

</head>

<body>
    <%- include ("header") %>
        <main id="layout-main">
            <%-body%>
                <%- include ("footer") %>
        </main>
</body>

</html>